<!DOCTYPE html>
<html><head>
  <title>Портфолио</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/960.css" type="text/css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div class="gutter"></div>
    <div class="container_12">
      <!--<img src="/img/logo130.png" class="logo pull-left">-->
      <nav>
      <ul class="navigate pull-right">
        <li><a href="/">работы</a>
        <li><a href="/services">услуги</a>
        <li><a href="/skills">навыки</a>
        <li><a href="/contacts">контакты</a>
      </ul>
      </nav>
    </div>
</header>
    <br>
<section>
  <div class="clients projects container_12">
    <h2 class="grid_12">Сайты разработанные на заказ. Люди ими пользующиеся, счастливы.</h2>

    <li class="skydb grid_2 prefix_2">
    <h3>
        <a href="/projects/skydb">
        <span class="asset"></span>
        База знаний Skydb
        <span class="date">2010</span>
        </a>
    </h3>
    <a class="tag php" href="http://php.net" oldtitle="Developed on pure PHP">PHP</a>
    </li>

    <li class="spyware_review grid_2">
    <h3>
        <a href="/projects/spyware">
        <span class="asset"></span>
        Spyware Review
        <span class="date">2010</span>
        </a>
    </h3>
    <a class="tag php" href="http://php.net" oldtitle="Developed on pure PHP">PHP</a>
    </li>

    <li class="virb grid_2">
    <h3>
        <a href="http://www.virb.com">
        <span class="asset"></span>
        Virb
        <span class="date">2010</span>
        </a>
    </h3>
    </li>

    <li class="omni_group grid_2 suffix_1">
    <h3>
        <a href="http://www.omnigroup.com">
        <span class="asset"></span>
        The Omni Group
        <span class="date">2009</span>
        </a>
    </h3>
    <a class="tag php" href="http://php.net" oldtitle="Developed on pure PHP">PHP</a>
    </li>
</div>
    <div class="clients projects container_12">

    <li class="nick_finck grid_2 prefix_1">
    <h3>
        <a href="http://nickfinck.com">
        <span class="asset"></span>
        Nick Finck
        <span class="date">2009</span>
        </a>
    </h3>
    <a class="tag qt" href="http://qt.digia.com/" oldtitle="Developed with Qt framework">Qt</a>
    </li>

    <li class="velo_bike_shop grid_2">
    <h3>
        <a href="http://velobikeshop.com/">
        <span class="asset"></span>
        Velo Bike Shop
        <span class="date">2009</span>
        </a>
    </h3>
    <a class="tag zend_framework" href="http://framework.zend.com/" oldtitle="Developed with Zend Framework">Zend Framework</a>
    </li>

    <li class="recurve grid_2">
    <h3>
        <a href="http://www.recurve.com/">
        <span class="asset"></span>
        Recurve
        <span class="date">2009</span>
        </a>
    </h3>
    <a class="tag symfony" href="http://symfony.com/" oldtitle="Developed with Symfony Framework">Symfony Framework</a>
    </li>

    <li class="mobile_97_bottles grid_2">
    <h3>
        <a class="project" href="http://m.97bottles.com">
        <span class="asset"></span>
        97 Bottles Mobile
        <span class="date">2009</span>
        </a>
    </h3>
    <a class="tag yii" href="http://www.yiiframework.com/" oldtitle="Developed with Yii Framework">Yii Framework</a>
    </li>

    <li class="ots grid_2 suffix_1">
    <h3>
        <a title="Open Technology Solutions" href="http://blueflavor.com/our-work/open-technology-solutions/">
        <span class="asset"></span>
        OTS
        <span class="date">2009</span>
        </a>
    </h3>
    <a class="tag raspberry" href="http://www.raspberrypi.org/" oldtitle="Project for Raspberry">Raspberry Pi</a>
    </li>
  </div>
</section>
<footer>
      <div class="banner">
        <div class="contact container_12">
            <p>
            <strong>Почта:</strong>
            <a href="mailto:hello@barif.ru">hello@barif.ru</a>
            </p>
            <p>
            <strong>Телефон:</strong>
            <a href="tel:407-538-1133">066-766-0187</a>
            </p>
            <p>
            <strong>Скайп:</strong>
            <a href="skype:executorgreat">executorgreat</a>
            </p>
        <ul class="navigate pull-right">
          <li><a href="/">работы</a>
          <li><a href="/services">услуги</a>
          <li><a href="/skills">навыки</a>
          <li><a href="/contacts">контакты</a>
        </ul>
        </div>
      </div>
      <div class="footer">
        <div>
          <p>2013</p>
        </div>
      </div>
    </div>
</footer>

</body></html>